.ctn-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.ctn-title h1{
    width: 100%;
    color:#cecfcf;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

video{
    margin: auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: -1;
    display: flex;
  }

  .ctn-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
  }

  .ctn-info div{
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .ctn-info div h2{
    color: white;
  }

  .ctn-info div p{
    color: white;
  }
  